body {
  background: rgba(247, 247, 247, 1);
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  width: auto;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
header {
  border-style: none;
  background-size: auto;
  display: inline;
  height: 150px;
  padding: 5px 5px 5px 5px;
  width: 75%;
}
header .compname a {
  background-color: rgba(247, 247, 247, 1);
  color: rgba(180, 180, 180, 1);
  display: block;
  float: inherit;
  font-family: Helvetica Neue;
  font-weight: 100;
  font-size: 60px;
  padding: 2% 0% 0% 0%;
  text-align: center;
  text-decoration: none;
  width: auto;
}
header ul.biocontact {
  background-color: rgba(247, 247, 247, 1);
  margin-top: -1%;
  padding: 4% 2% 2% 0%;
  text-align: center;
}
header .biocontact li {
  background-color: rgba(247, 247, 247, 1);
  color: rgba(180, 180, 180, 1);
  display: inline-block;
  float: inherit;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  list-style: none;
  margin-left: -2%;
  text-decoration: none;
  text-align: center;
  width: 20%;
}
header .biocontact a{
  background-color: rgba(247, 247, 247, 1);
  color: rgba(180, 180, 180, 1);
  float: inherit;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
}
button {
  border: none;
}
#dropmenu a {
  display: block;
}
#droplink {
  display: none;
}
section .tagline {
  color: rgba(150, 150, 150, 1);
  display: block;
  font-family: Helvetica Neue;
  font-size: 27px;
  font-weight: 100;
  margin-top: 15%;
  text-align: center;
  text-decoration: overline;
  width: auto;
}

/* INCREASE IMAGE WIDTH FOR LARGER IMAGES, LOOKS LIKE CRAP OVER 2000PX */
/* HOME PAGE */
section .package-types div {
  display: flex;
  margin: 5px;
  width: auto;
  position: relative;
  text-align: left;
}
section .portraits {
  background-image: url("images/portraits1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1100px;
  height: 500px;
  margin: auto;
}
section .portraits p {
  color: rgba(176, 53, 24, 0.87);
  font-family: Verdana;
  font-size: 110px;
  margin-right: 30px;
  margin-top: 10px;
  text-align: right;
  text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
}
.portraits a {
  color: rgba(176, 53, 24, 0.87);
  text-decoration: none;
}
section .weddings {
  background-image: url("images/weddings1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1100px;
  height: 500px;
  margin: auto;
}
section .weddings p {
  font-family: Verdana;
  color: rgba(74, 67, 29, 0.7);
  text-align: right;
  font-size: 105px;
  margin: 10px;
  text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
}
.weddings a {
  color: rgba(74, 67, 29, 0.7);
  text-decoration: none;
}
section .newborns {
  background-image: url("images/newborns1.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 1100px;
  height: 500px;
  margin: auto;
}
section .newborns p {
  font-family: Verdana;
  color: rgba(123, 122, 120, 0.6);
  text-align: right;
  font-size: 100px;
  margin: 10px;
  text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
}
.newborns a {
  color: rgba(123, 122, 120, 0.6);
  text-decoration: none;
}
.contact-info {
  margin-top: 10%;
}
footer {
  border-radius: 3px;
  background: none;
  margin: auto;
  margin-top: 40%;
  padding: 20px;
  height: 20px;
  width: 50%;
  text-align: center;
  position: relative;
}
.footer {
  color: rgba(200, 200, 200, 1);
  font-family: Helvetica Neue;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
}
footer a {
  color: rgba(200, 200, 200, 1);
  font-family: Helvetica Neue;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

/* BIO PAGE */
#story {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(220, 220, 220, 1);
  color: rgba(130, 130, 130, 1);
  display: inherit;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 200;
  margin: auto;
  margin-top: 80px;
  padding: 2%;
  position: static;
  text-align: center;
  width: 70%;
}
#floated {
  background-image: url("images/image12.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
  float: right;
  height: 150px;
  width: 350px;
  margin-left: 10px;
  margin-bottom: 7px;
}
#test {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
  font-family: Helvetica Neue;
  font-weight: 200;
  margin: auto;
  margin-top: 20px;
  padding: 2%;
  position: static;
  text-align: center;
  width: 70%;
}
/*CONTACT PAGE*/
.contactinfo {
  display: block;
  margin: 17% 0% 0% 0%;
  text-align: center;
}
.contactul {
  color: rgba(140, 140, 140, 1);
  font-family: 'Rajdhani', sans-serif;
  font-size: 40px;
  list-style: none;
}
.contactul li {
  margin: 2% 0% 0% 0%;
}
#email {
  color: rgba(120, 120, 120, 1);
  font-size: 32px;
}
#cell {
  color: rgba(120, 120, 120, 1);
  font-size: 32px;
}
.socialmedia {
  color: rgba(170, 170, 170, 1);
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  margin-top: 7%;
}
.socialmedia div {
  display: inline-block;
  padding: 1% 2% 0% 2%;
}
/* PORTRAIT PAGE */
.family p {
  text-align: center;
  font-size: 50px;
  margin-top: 20%;
}
#onekid {
  background-image: url("images/fam1.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 50em;
  margin: 5% 3% 4% 3%;
  width: auto;
}
#stillgood {
  background-image: url("images/fam2.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  height: 50em;
  margin: 5% 3% 4% 3%;
  width: 20em;
}
#famtext {
  font-size: 26px;
  margin: 10% 5% 10% 5%;
  text-align: center;
}
#toomany {
  background-image: url("images/fam3.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 40em;
  margin: 5% 3% 2% 15%;
  width: 70%;
}
#dabois {
  background-image: url("images/fam4.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 40em;
  margin: 1% 3% 2% 15%;
  width: 70%;
}
.senior {
  width: auto;
}
.senior p {
  text-align: center;
  font-size: 50px;
  margin-top: 20%;
}
#facingright {
  background-image: url("images/headshot2.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 115%;
  display: inline-block;
  height: 35em;
  margin: 0% 3% 0% 4.5%;
  width: 28%;
}
#overshoulder {
  background-image: url("images/headshot3.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150%;
  display: inline-block;
  height: 35em;
  width: 28%;
}
#somedude {
  background-image: url("images/headshot4.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150%;
  display: inline-block;
  height: 35em;
  margin: 0% 4% 0% 3%;
  width: 28%;
}
#seniortext {
    font-size: 26px;
    margin: 5% 8% 4% 8%;
    text-align: center;
}
#sideways {
  background-image: url("images/headshot6.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 50em;
  margin: 2% 6% 4% 6%;
  width: auto;
}
.headshot p {
  text-align: center;
  font-size: 50px;
  margin-top: 20%;
}
#glasses {
  background-image: url("images/headshot7.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 115%;
  display: inline-block;
  height: 35em;
  margin: 0% 7% 0% 8%;
  width: 35%;
}
#facetat {
  background-image: url("images/headshot8.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  display: inline-block;
  height: 35em;
  margin: 0% 8% 0% 6%;
  width: 35%;
}
#dashing {
  background-image: url("images/headshot5.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  height: 50em;
  margin: 20% 5% 0% 8%;
  width: 30em;
}
#headshottext {
  font-size: 26px;
  margin: 25% 12% 20% 0%;
  text-align: center;
}
@media screen and (max-width: 1210px) {
  #facingright {
    height: 30em;
  }
  #overshoulder {
    height: 30em;
  }
  #somedude {
    height: 30em;
  }
}
@media screen and (max-width: 1025px) {
  #facingright {
    height: 25em;
  }
  #overshoulder {
    height: 25em;
  }
  #somedude {
    height: 25em;
  }
}
@media screen and (max-width: 850px) {
  #facingright {
    height: 20em;
  }
  #overshoulder {
    height: 20em;
  }
  #somedude {
    height: 20em;
  }
}
@media screen and (max-width: 680px) {
  #facingright {
    height: 15em;
  }
  #overshoulder {
    height: 15em;
  }
  #somedude {
    height: 15em;
  }
}
@media screen and (max-width: 540px) {
  #facingright {
    background-position: center;
    display: block;
    margin: 0% 0% 1% 28%;
    width: 45%;
  }
  #overshoulder {
    background-position: center;
    display: block;
    margin: 0% 0% 1% 28%;
    width: 45%;
  }
  #somedude {
    background-position: center;
    display: block;
    margin: 0% 0% 1% 28%;
    width: 45%;
  }
}
/* SMALL SCREENS, TABLETS, ETC. */
@media screen and (max-width: 1199px) {
  header .compname a {
    font-size: 30px;
    color: rgba(160, 160, 160, 1);
    padding-top: 10px;
  }
  section .tagline {
    font-size: 15px;
  }
  section .portraits {
    background-image: url("images/portraits1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 600px;
    height: 300px;
    margin: auto;
  }
  section .portraits p {
    color: rgba(176, 53, 24, 0.87);
    font-family: Verdana;
    font-size: 300%;
    margin-top: 10px;
    text-align: right;
    text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
  }
  section .weddings {
    background-image: url("images/weddings1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 600px;
    height: 300px;
    margin: auto;
  }
  section .weddings p {
    font-family: Verdana;
    color: rgba(74, 67, 29, 0.7);
    text-align: right;
    font-size: 300%;
    margin: 10px;
    text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
  }
  section .newborns {
    background-image: url("images/newborns1.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 600px;
    height: 300px;
    margin: auto;
  }
  section .newborns p {
    font-family: Verdana;
    color: rgba(123, 122, 120, 0.6);
    text-align: right;
    font-size: 300%;
    margin: 10px;
    text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
  }
  .contactinfo {
    margin: 17% 10% 0% 10%;
}
/* SMART PHONES, SPLIT SCREENS, ETC. */

@media screen and (max-width: 670px) {
  body {
    padding: 5px;
  }
  header .compname a {
    font-size: 20px;
    color: rgba(120, 120, 120, 1);
    padding-bottom: 6px;
  }
  header .biocontact a {
    color: rgba(160, 160, 160, 1);
    font-size: 15px;
    padding: 5% 0% 5% 0%;
  }
  header .biocontact li {
    color: rgba(120, 120, 120, 1);
    list-style: none;
    display: block;
    margin-left: 40%;
  }
  section .tagline {
    font-size: 25%;
    font-weight: 200;
    color: rgba(100, 100, 100, 1);
    text-decoration: none;
    margin-top: 27%;
  }
  section .portraits {
    background-image: url("images/portraits1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  section .portraits p {
    color: rgba(176, 53, 24, 0.87);
    font-family: Verdana;
    font-size: 300%;
    margin-top: 10px;
    text-align: right;
    text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
  }
  section .weddings {
    background-image: url("images/weddings1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  section .weddings p {
    font-family: Verdana;
    color: rgba(74, 67, 29, 0.7);
    text-align: right;
    font-size: 300%;
    margin: 10px;
    text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
  }
  section .newborns {
    background-image: url("images/newborns1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  section .newborns p {
    font-family: Verdana;
    color: rgba(123, 122, 120, 0.6);
    text-align: right;
    font-size: 300%;
    margin: 10px;
    text-shadow: -1px 1px 0px rgba(242, 242, 242, 1), 1px 1px 0px rgba(242, 242, 242, 1), 1px -1px 0px rgba(242, 242, 242, 1), -1px -1px 0px rgba(242, 242, 242, 1);
  }
  #floated {
    background-image: url("images/image12.jpeg");
    background-size: 375%;
    background-repeat: no-repeat;
    background-position: right;
    float: right;
    height: 200px;
    width: 120px;
    margin-right: 2px;
    margin-bottom: 7px;
  }
  .contactul {
    font-size: 20px;
    margin-top: 30%;
  }
  #email {
    font-size: 15px;
  }
  #cell {
    font-size: 15px;
  }
  .socialmedia {
    font-size: 17px;
  }
  footer {
    padding: 8px;
  }
  footer .footer a {
    font-size: 10px;
  }
@media screen and (max-width: 400px) {
  section .tagline {
    font-size: 7px;
    font-weight: 200;
  }
  header .biocontact li {
    padding-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
